h1 {
    text-align: center;         /* Para deixar centralizado */
    color: #00008b;            /* Para mudar a cor para azul escuro */
    font-family: Arial, sans-serif; /* Para aplicar a fonte correta */
}
